body{
    margin: 0px;
    background-color: lightslategray;
    background:url("css/images/bg3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#container {
    max-width: 960px;
    margin: 2rem auto 0;;
    overflow: hidden;
    color:white;
    font-size:larger;
  }

  

  .message-box {
    margin: 0.1rem;
    padding: 0.4rem;
    text-align: center;
  }
  
  .message-box h1 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

.cal-wrap{
    width: 318.4px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
}

.cal-function{
    background-color: #cdcdcd;
}

.cal-button{
    height: 75px;
    width: 75px;
    border: 0px;
}

.cal-button:hover{
    background-color: grey;
}

.cal-display{
    height: 75px;
    width: 100%;
    border: 0px;
    text-align: right;
    font-size: 25px;
    font-weight: 400;
    color: grey;
}

.cal-display-sol{
    height: 50px;
    width: 100%;
    border: 0px;
    text-align: right;
    font-size: 40px;
    font-weight: 400;
}

.cal-sol{
    background-color: #85c1e8;
}

.cal-sol:hover{
    background-color: #1fa7ff;
}